<!DOCTYPE html>
<html>
	<head>
		<title>#readMoreCanlit book recommender</title>
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>

<body>


	
		<a href='recommendation.htm'>About</a>
		<a href='#recommendations'>Recommendations</a>
		<a href='recommendation.htm'>Learn</a>

		<br />
		<br />
		<img src='readMoreCanlit.png' /><br /><br />

		
		
</body>
	<main>

		<p>Looking for your next great summer read? <em>Canada's got this.</em> From Atwood to Zaremba, we are home to some of the finest award-winning authors in the world—some of whom you've never met yet. That's about to change. </p>

		<blockquote><h2>You love your country.<br/> You love reading. </br />Love them both together.</blockquote></h2> 
		
		<p>#readMoreCanlit is your source for homegrown book recommendations. Just enter the name of your favourite book, and we will take it from there. Can't remember the last thing you read that you liked? Then you definitely need to know about Canadian books! </p>

		<p>In that case, just enter a sentence about the type of book you enjoy reading, and our recommendation engine will analyze your query and suggest appropriate books, just for you. </p>

<form action='/submit'>
	<h2><label for="recommender-input">What kind of book do you want to read?</label>
			<input type="submit" value="Get your recommendation" class='button'></h2>
	<input type="text" id="recommender-input" name="recommender-input" maxlength = "400" class="resizedTextbox">
	
</form>
	</main>

	<footer>
	<center>©2020 readMoreCanlit | Some rights reserved</center>
	</footer>
	</html>