<html>
    <head>
        <title>{{ title }} - Revival = Survival</title>
    </head>
    <body>
        <h1>Welcome, Shopifolk!</h1>
    	<p>This is the Overdose Resource Locator.</p>
    	<p>Which of the following are you here to do?</p>
    	
	<form>
	      <fieldset>
	         <legend>Which of the following are you here to do?</legend>
	         <p>
	             <label>Select list</label>
	             <select id = "myList">
	               <option value = "1">Access Naloxone to reverse an overdose</option>
	               <option value = "2">Access a safer injection site</option>
	               <option value = "3">Get help recovering from addiction</option>
	             </select>
	          </p>
	       </fieldset>
	    </form>

    </body>
</html>