<!DOCTYPE html>
<html>
	<head>
		<title>#readMoreCanlit book recommender</title>
		<link rel='stylesheet' type='text/css' href= '{{ url_for('static',filename='main.css') }}'>
</head>
	</head>

<body>

	<h3><a href='/recommendation'>About</a>
	<a href='/recommendation'>Recommendations</a>
	<a href='/recommendation'>Learn</a></h3>

	<br />
	<br />


	<img src='{{ url_for('static',filename='readMoreCanlit.jpg') }}'><br /><br />


display_title = [1,2,3]		

	<main>

		<h2>Here are your personalized recommendations! </h2>

	<p>Showing results for: {{ final_recommendation }}</p>
        <table class="book_table" align="center">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>About this book</th>
            </tr>
            <tbody class="table_body">
                <tr>
                    <td>{{ display_title[0] }}</td>
                    <td>{{ display_author[0] }}</td>
                    <td>{{ display_details[0] }}</td>
                </tr>
                <tr>
                    <td>{{ display_title[1] }}</td>
                    <td>{{ display_author[1] }}</td>
                    <td>{{ display_details[1] }}</td>
                </tr>
                <tr>
                    <td>{{ display_title[2] }}</td>
                    <td>{{ display_author[2] }}</td>
                    <td>{{ display_details[2] }}</td>
                </tr>
            </tbody>
        </table>	


	<h3>What would you like to do next?</h3>
	<br />
	

	<input type="submit" value="Get another recommendation" class='button'><br />
	<input type="submit" value="Tell a friend" class='button'>
	<input type="submit" value="Sign up for emails" class='button'>

	
	<br />
	<br />
	</main>
</body>
	<footer>
	<center>©2020 readMoreCanlit | Some rights reserved</center>
	</footer>
	</html>